# Dependencies
node_modules
dist

# Environment files
.env
.env.local
.env.*.local
*/**/.env

# Build files
dist
server/public
vite.config.ts.*
*.tar.gz

# OS files
.DS_Store

# Backup files
*.OLD
*.backup
*.bak